﻿{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Steam2VkScreenshots uploader</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
	<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
	<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
		    <div class="navbar-inner">
			    <div class="brand" id="brandName">
				    Welcome to Steam2Vkontakte Screenshots Uploader
			    </div>
			    <ul class="nav pull-right">
                    {% block menu %}
                    {% endblock %}
			    </ul>
		    </div>
            {% if message_type %}
                <div class="alert alert-{{ message_type }}">
                    {{ message }}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
	    </div>
	</div>
</body>
</html>
