﻿{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
{% if not logged %}
<div class="hero-unit">
    <h1>Впервые здесь?</h1>
    <p>Этот сайт создан для автоматической загрузки ваших скриншотов из Steam Cloud в Ваш альбом Вконтакте. Вам не потребуется сторонее ПО! 
    Просто зайдите под своим аккаунтом Вконтакте, впишите Ваш SteamID и готово! Steam2VK сделает все за Вас.
    </p>
    </div>
    <h2>Последние загруженные скриншоты:</h2>
{% else %}
    <h3>Ваши скриншоты:</h3>
{% endif %}
{% endblock %}