﻿{% if not logged %}
        <li><a href="https://oauth.vk.com/authorize?client_id=4351753&scope=65540&redirect_uri={{ request.build_absolute_uri|urlencode }}auth/&response_type=code">
        <i class="icon-user"></i> Войти</a></li>
{% else %}
    <li {% if page == "main" %} class="active"{% endif %}><a href="/">Главная</a></li>
	<li {% if page == "settings" %} class="active"{% endif %}><a href="/settings">Настройки</a></li>
	<li><a href="/?logout=true">Выйти</a></li>
	<li><img id="avatar" alt="avatar goes here" src="{{ avatar }}" class="img-circle"/></li>
{% endif %}