﻿{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<form method="POST">
{% csrf_token %}
    <fieldset>
        <legend>Настройки</legend>
        <label>Введите ваш SteamID</label>
        <input type="text" name="steamIDBox" value="{{ steamID }}">
        <span class="help-block">Значение поля хххххх в ссылке на Ваш профиль http://steamcommunity.com/id/хххххх/ </span>
        <input type="submit" class="btn" value="Сохранить">
    </fieldset>
</form>
{% endblock %}